<div class="rst-versions" role="note" aria-label="versions">
    <div class="faq">
        <div class="title p-1">
            <i class="fa fa-question-circle-o"></i>
            <a style="text-decoration: none" href="veelgesteldevragen">&nbsp;&nbsp;Veelgestelde vragen</a>
        </div>
      </div> 
      <div class="syn">
        <div class="title p-1">
            <i class="fa fa-table"></i>
            <a style="text-decoration: none" href="synoniemenlijst">&nbsp;&nbsp;Synoniemen</a>
        </div>
      </div> 
      <div class="beheer"> 
          <div class="title p-1">
                  <i class="fa fa-cogs"></i>
                  <a style="text-decoration: none" href="#"></a>&nbsp;&nbsp;Beheer en licentie</a>
             
            <span class="branch p-1"> <span class="name"> master </span> <i class="fa fa-caret-down"></i> 
            </span> 
            </div>
        </div> 
        <div class="beheer-info p-2 hidden">
            <dl>
                <dt>
                    Geonovum ontwikkelt en beheert het digitale objectenhandboek BGT | IMGeo in opdracht van het Ministerie van Binnenlandse Zaken en Koninkrijksrelaties.
                      <br><br>Suggesties en (betere) foto's zijn van harte welkom op <a href="mailto:imgeo@geonovum.nl">imgeo@geonovum.nl</a>.
                </dt>
            </dl>
            <hr> 
            <dl> 
                <dt>GitHub</dt> 
                <dd> 
                    <a href="https://github.com/Geonovum/IMGeo-objectenhandboek" title="Stars: 3"> <i class="fa fa-github"></i> Homepage </a>
                    
                </dd> 
                <dd> 
                    <a href="https://github.com/Geonovum/IMGeo-objectenhandboek/issues" title="Open issues: 0"> <i class="fa fa-question-circle-o"></i> Issues </a> </dd> 
                    <dd> <a href="https://github.com/Geonovum/IMGeo-objectenhandboek/zipball/master" title="Size: 55719 Kb"> <i class="fa fa-download"></i> Download </a> </dd> 
                  </dl> <hr> <div class="license f6 pb-2">
                    
                    Rechtenbeleid:&nbsp;&nbsp;&nbsp;<a href="https://creativecommons.org/licenses/by-nd/3.0/nl/" target="_blank" alt="Naamsvermelding-GeenAfgeleideWerken 3.0 Nederland">CC BY-ND 3.0</a>                    
                     <img src="https://tools.geostandaarden.nl/respec/style/logos/CC-Licentie.svg" alt="Naamsvermelding-GeenAfgeleideWerken 3.0 Nederland" width="75px" style="margin-top: -13px" align="right">  
                    
                    
                    </div> 
                </div> 

<script>
  document.querySelector(".beheer").addEventListener("click", function() {
    document.querySelector(".beheer-info").classList.toggle("hidden");
  });
</script>

<style>
  .beheer-info.hidden { display: none; }
</style>

    <!--span class="rst-current-version" data-toggle="rst-current-version">
      {%- if site.repo_url %}
        <a href="{{ site.repo_url }}" class="fa fa-github" target="_blank" style="float: left; color: #fcfcfc"> GitHub</a>
      {%- endif %}
      {%- if previous_page %}
        <span><a href="{{ previous_page.url | absolute_url }}" style="color: #fcfcfc;">&laquo; Previous</a></span>
      {%- endif %}
      {%- if next_page %}
        <span style="margin-left: 15px"><a href="{{ next_page.url | absolute_url }}" style="color: #fcfcfc">Next &raquo;</a></span>
      {%- endif %}
    </span-->
</div>
